{
  "processors": ["stylelint-processor-html"],
  "extends": "stylelint-config-standard",
  "ignoreFiles": ["**/*.js"],
  "comment-word-blacklist": ["eslint"],
  "rules": {
    "color-hex-case": null,
    "number-leading-zero": null,
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["function", "if", "each", "include", "mixin"]
    }]
  }
}