{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["@babel/plugin-transform-modules-commonjs"],
    ["@babel/plugin-transform-runtime", {
      "regenerator": true,
    }],
    [
      "babel-plugin-root-import",
      {
        "paths": [
          { "rootPathPrefix": "@server", "rootPathSuffix": "server" }
        ]
      }
    ]
  ]
}