@import 'colors';

.button {
  $background_color: grey;
  $text_color: lighten(orange, 5%);

  background-color: darken($background_color, 5%);
  border: 2px solid darken($background_color, 25%);
  text-shadow: 1px 1px 0 #000;
  outline: none;
  cursor: pointer;
  padding: 1px 6px 0 6px;
  color: $text_color;
  margin: 0;
  font-size: 15px;
  font-family: 'UIFont', serif;
}